/*----------          Mise en page principale + import font         ----------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,100');

body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #F4F3F3;

}

a {
	height: auto;
	text-decoration: none;
	list-style-type: none;
	color: #000;
}

title {
	display: block;
}


/*----------          Nav Bar          ----------*/

nav.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: auto;
	background-color: #333;
	color: #999;
	font-size: 22px;
	font-weight: lighter;
}

ul.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

li.navbar {
	list-style-type: none;
	margin-right: 30px;
}

a.nav {
	color: #999;
}

a.nav:hover {
	color: #FFF;
}

/*----------          Index          ----------*/

div.container {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

div.imgindex {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img.logo {
	width: 300px;
	height: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

img.minilogo {
	width: auto;
	height: 30px;
}

img.index {
	width: 100%;
	height: auto;
}

/*----------          carousel start          ----------*/
  .content-slider {
	width: 100%;
	height: 360px;
  }
  
  .slider {
	height: 320px;
	width: 680px;
	margin: 40px auto 0;
	overflow: visible;
	position: relative;
  }
  
  .mask {
	overflow: hidden;
	height: 320px;
  }
  
  .slider ul {
	margin: 0;
	padding: 0;
	position: relative;
  }
  
  .slider li {
	width: 680px;
	height: 320px;
	position: absolute;
	top: -325px;
	list-style: none;
  }
  
  .slider .quote {
	font-size: 32px;
  }
  
  .slider .source {
	font-size: 16px;
	font-style: italic;
	text-align: right;
  }
  
  .slider li.anim1 {
	animation: cycle 15s linear infinite;
  }
  
  .slider li.anim2 {
	animation: cycle2 15s linear infinite;
  }
  
  .slider:hover li {
	animation-play-state: paused;
  }
  
  @keyframes cycle {
	0% {
	  top: 0px;
	}
	4% {
	  top: 0px;
	}
	16% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	20% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
	21% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	50% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	92% {
	  top: -325px;
	  opacity: 0;
	  z-index: 0;
	}
	96% {
	  top: -325px;
	  opacity: 0;
	}
	100% {
	  top: 0px;
	  opacity: 1;
	}
  }
  
  @keyframes cycle2 {
	0% {
	  top: -325px;
	  opacity: 0;
	}
	16% {
	  top: -325px;
	  opacity: 0;
	}
	20% {
	  top: 0px;
	  opacity: 1;
	}
	24% {
	  top: 0px;
	  opacity: 1;
	}
	36% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	40% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
	41% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
  }
/*----------          carousel end          ----------*/

div.textimgindex {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
}

title.indexpres, p.indexpres {
	display: flex;
	justify-content: center;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}

title.indexpres {
	font-size: 58px;
}

p.indexpres {
	font-size: 30px;
}

div.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

div.case {
	width: 400px;
	height: auto;
	padding: 10px;
	margin: 5px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	margin: 30px;
}

title.index {
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-weight: lighter;
	padding-bottom: 20px;
}

p.index {
	width: 100%;
}

p.projet {
	position: absolute;
	top: 25%;
	bottom: 0;
	left: 45%;
	right: 0;
	font-size: 40px;
	width: 400px;
	text-align: center;
}

img.index {
	width: 100%;
	height: auto;
}

img.projet {
	width: 300px;
	height: auto;
	position: relative;
	left: 30%;
}

img.case {
	width: 50%;
	height: auto;
}

div.members {
	width: 400px;
	margin: 20px 50px;
	padding: 0px 20px;
	text-align: left;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #FFF;
}

img.members {
	width: 75%;
	height: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

img.linkedin {
	width: 50px;
}

div.disclaimer {
	width: 30%;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding-right: 20px;
	padding-left: 20px;
}

title.members {
	display: block;
	font-size: 20px;
	text-align: center;
}

p.members {
	text-align: center;
}

title.disclaimer {
	display: block;
	font-size: 20px;
}

p.disclaimer {
	font-size: 14px;
}

img.dt {
	width: 50%;
	opacity: 0.5;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

div.dt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
}

div.dt1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
	width: 40%;
}

title.dt {
	font-size: 40px;
	text-align: center;
}

p.dt {
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
}

/*----------          Alternance          ----------*/

div.alternance {
	background-color: #FFF;
	text-align: left;
	margin: 10px 70px;
	padding: 0px;
}

img.alternance {
	width: 400px;
	height: auto;
}

img.alternanceart {
	width: 50%;
	height: auto;
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
}

title.alternance {
	padding: 20px 20px;
	margin: 0px;
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
}


title.alternanceart {
	padding: 0px 20px;
	margin: 0px;
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

p.alternance {
	padding: 0px 20px;
	margin: 0px;
	font-size: 20px;
	font-weight: lighter;
}

p.alternanceart, 
ul.alternanceart, 
li.alternanceart {
	padding: 10px 20px;
	margin: 0px;
	font-size: 20px;
	font-weight: lighter;
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

a.alternance {
	color: #000;
	transition: .5s;
}

a.alternance :hover {
	width: 500px;
	transition: .5s;
}

/*----------          Conseils          ----------*/

div.conseils {
	background-color: #FFF;
	text-align: left;
	margin: 10px 70px;
	padding: 0px;
	width: 500px;
}

img.conseils {
	width: 100%;
	height: auto;
}

img.conseilsart {
	width: 50%;
	height: auto;
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
}

title.conseils {
	padding: 0px 20px;
	margin: 0px;
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
}


title.conseilsart {
	padding: 0px 20px;
	margin: 0px;
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

p.conseils {
	padding: 0px 20px;
	margin: 0px;
	font-size: 20px;
	font-weight: lighter;
}

p.conseilsart,
h2.conseilsart,
h3.conseilsart,
ul.conseilsart,
li.conseilsart {
	padding: 10px 20px;
	margin: 0px;
	font-size: 20px;
	font-weight: lighter;
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

a.conseils {
	color: #000;
	transition: 2s;
}

a.conseils :hover {
	width: 600px;
	transition: 2s;
}

/*----------          Podcast          ----------*/


/*----------          Paroles d'alternants          ----------*/

div.paroles {
	background-color: #FFF;
	text-align: left;
	margin: 10px 70px;
	padding: 0px;
}

img.paroles {
	width: 400px;
	height: auto;
}

img.parolesart {
	width: 50%;
	height: auto;
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
}

title.paroles {
	padding: 20px 20px;
	margin: 0px;
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
}


title.parolesart {
	padding: 0px 20px;
	margin: 0px;
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

p.paroles {
	padding: 0px 20px;
	margin: 0px;
	font-size: 20px;
	font-weight: lighter;
}

p.parolesart,
h2.parolesart, 
ul.parolesart, 
li.parolesart {
	padding: 10px 20px;
	margin: 0px;
	font-size: 20px;
	font-weight: lighter;
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

a.paroles {
	color: #000;
}

/*----------          Contact          ----------*/

div.contact {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 40px 0px;
}

div.contactcase {
	width: 50%;
	align-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

p.contact {
	font-size: 28px;
	font-weight: lighter;
	text-align: center;
}

img.contact {
	width: 75%;
	height: auto;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

form.formcontact {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

input.formcontact {
	width: 50%;
	height: auto;
	padding: 10px;
	margin: 10px 0px;
	border: none;
	font-weight: lighter;
}

textarea.formcontact {
	border: none;
	font-weight: lighter;
	padding: 10px;
	margin: 10px 0px;
}

button.formcontact {
	width: 200px;
	padding: 10px;
	margin: 10px 0px;
	border: none;
	background-color: #FFF;
}



/*----------          Footer          ----------*/

footer {
	background-color: #000;
	color: #FFF;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	position: relative;
	bottom: 0px;
}

div.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: absolute;
	right: 70px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

img.footer {
	width: 494px;
	height: 175px;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-75%, -50%);
}

title.footer {
	font-size: 32px;
	padding: 0px;
	padding: 10px 0px;
	margin: 0px;
}

p.footer {
	font-weight: lighter;
	font-size: 22px;
	padding: 0px;
	margin: 0px;	
}

nav.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	color: #FFF;
	font-size: 22px;
	font-weight: lighter;
}

ul.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

li.footer {
	list-style-type: none;
}

a.footer {
	color: #FFF;
}


/*----------          Podcasts          ----------*/

div.podcasts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 20px 0px; 
}

div.podcastint {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
	width: 60%;
}

div.image_pres {
	position: relative;
	width: 40%;
}

div.logopodcasts {
	height: 166px;
	width: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 20px;
}

title.podcasts {
	font-size: 30px;
	padding: 10px 0px 0px 0px;
	margin: 0px;
	font-weight: lighter;
}

p.podcasts {
	font-size: 18px;
	padding: 10px 0px;
	margin: 0px;
	font-weight: lighter;
}

title.indispo {
	font-size: 30px;
	color: #999;
	font-weight: lighter;
	position: relative;
	align-self: center;
}

img.logopod {
	width: auto;
	height: 166px;
}

img.podcastsg {
	padding: 0px 20px;
	width: 100%;
	height: auto;
}


/*----------          Paroles d'alternants          ----------*/

div.parolesalter {
	width: 70%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

a.caseparoles {
	width: 400px;
	margin: 20px 60px;
	color: #000;
	background-color: #FFF;
	transition: .5s;
}

a.caseparoles :hover {
	width: 500px;
	transition: .5s;
}

img.parolesalter {
	width: 100%;
	height: auto;
}

title.parolesalter {
	font-weight: lighter;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

p.parolesalter {
	font-weight: lighter;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/




























































































































































































































































































































































































































