/*----------          Mise en page principale + import font         ----------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,100');

body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: #000;

}

a {
	height: auto;
}


/*----------          Nav Bar          ----------*/

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: auto;
	background-color: #333;
	color: #999;
	font-size: 22px;
	font-weight: lighter;
}

ul {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

li {
	list-style-type: none;
	margin-right: 30px;
}

a.nav {
	text-decoration: none;
	list-style-type: none;
	color: #999;
}

a.nav:hover {
	color: #FFF;
}

img.logonav {
	width: auto;
	height: 30px;
}

/*----------          Index          ----------*/

div.container {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

div.imgindex {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img.index {
	width: 100%;
	height: auto;
}


div.textimgindex {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
}

title.indexpres, p.indexpres {
	display: flex;
	justify-content: center;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}

title.indexpres {
	font-size: 58px;
}

p.indexpres {
	font-size: 30px;
}

div.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

div.case {
	width: 500px;
	height: auto;
	padding: 10px;
	margin: 5px 5px 5px 5px;
	flex-wrap: wrap;
	display: flex;
	background-color: #CECECE;
	justify-content: center;
}

title.index {
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-weight: lighter;
	padding-bottom: 20px;
}

p.index {
	width: 400px;
}

img.index {
	width: 100%;
	height: auto;
}

img.case {
	width: 300px;
	height: 300px;
}

div.members {
	width: 300px;
	text-align: center;
}

img.members {
	width: 300px;
	height: 300px;
}

img.linkedin {
	width: 50px;
}

div.disclaimer {
	width: 30%;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: #999;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding-right: 20px;
	padding-left: 20px;
}

title.disclaimer {
	display: block;
	font-size: 20px;
}

p.disclaimer {
	font-size: 14px;
}

/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/


/*----------          x          ----------*/




























































































































































































































































































































































































































